.productsArea {
  background-color: var(--varColWhite3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
}

.productsAreaProd {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  margin: 32px 0px;
}

.text-center {
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.carousel {
  background-color: var(--varColWhite);
  border-radius: var(--varRadiusCard);
  align-self: center;
  width: 100%;
}

.card-body-modal {
  cursor: pointer;
  display: grid;
  grid-template-rows: 0.8fr 1.3fr 0.8fr 1fr;
  grid-template-areas:
    "card-title"
    "tagClass"
    "priceClass"
    "cardlinks";
  transition: all 0.3s ease;
  height: 100%;
  border: none;
}

.card-body-pruduct{
  cursor: pointer;
  display: grid;
  grid-template-rows: 0.8fr 1.3fr 0.8fr 1fr;
  grid-template-areas:
    "card-title"
    "tagClass"
    "priceClass"
    "cardlinks";
  transition: all 0.3s ease;
  height: 100%;
  border: none;
  background-color: var(--varColWhite3);
  border-radius: 0px 0px var(--varRadiusCard) var(--varRadiusCard);

}

.card-product-description{
  grid-area: card-product-description;
  padding: 0px 16px 16px 16px;
}

.card-body-modal{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  grid-template-rows: 0.8fr.7fr 1.3fr 0.8fr 1fr;
  grid-template-areas:
    "card-title"
    "tagClass"
    "priceClass"
    "card-product-description"
    "cardlinks";
  transition: all 0.3s ease;
  background-color: var(--varColWhite3);
  height: 100%;
  border: none;

}

.cardProduct {
  margin: var(--varGapItem);
  display: flex;
  flex-direction: column;
  border-radius: var(--varRadiusCard);
  transition: all 0.2s ease;
  width: 180px;
  height: auto;
}

.carousel-inner {
  background-color: var(--varColWhite3);
  border-radius: var(--varRadiusCard) ;
  max-height: 30vh;
  max-width: 80wv;
}

.carousel-img {
  width: 100%;
  transition: all 0.3s ease;
}

.carousel-img:hover {
  scale: 1.03;
}

.cardlinks {
  grid-area: cardlinks;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--varGapItem);
  padding: 0px 10px 10px 10px;
  width: 100%;
  background-color: var(--varColWhite3);
  border-radius: 0px 0px var(--varRadiusCard) var(--varRadiusCard);
}

.productButton {
  justify-self: center;
}

.card-title {
  padding: 10px 0px 0px 10px;
  font-size: large;
  grid-area: card-title;
}

.tagClass,
.priceClass {
  padding: 0px 10px;
  margin: 0px;
}

.priceClass {
  grid-area: priceClass;
}

.tagClass {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: var(--varGapTag);
  grid-area: tagClass;
}

.carousel-control-prev,
.carousel-control-next {
  border-radius: var(--varRadiusCard) var(--varRadiusCard) 0px 0px;
  width: 20%;
  display: flex;
  background: solid;
}

.carousel-control-prev-icon-F,
.carousel-control-next-icon-F {
  font-size: 50px;
  transition: all 0.3s ease;
  color: black; /* Cambia 'black' al color que desees */
  background-color: solid; /* Asegura que el fondo sigue siendo transparente */
  color: white;
}


@media (min-width: 768px) {
}

@media (min-width: 1080px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1920px) {
}
