.productsArea {
  background-color: var(--varColWhite3);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsAreaProd {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  margin: 32px 0px;
}

.text-center {
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.carousel {
  background-color: var(--varColWhite);
  border-radius: var(--varRadiusCard) var(--varRadiusCard) 0px 0px;
}

.card-body {
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-areas:
    "card-title"
    "tagClass"
    "priceClass";
  transition: all 0.3s ease;
  background-color: var(--varColWhite3);
  height: 100%;
  border: none;
}

.cardProduct {
  margin: var(--varGapItem);
  display: flex;
  flex-direction: column;
  border-radius: var(--varRadiusCard);
  transition: all 0.2s ease;
  width: var(--varSizeX);
  height: 100%;
}

.carousel-inner {
  background-color: var(--varColWhite3);
  border-radius: var(--varRadiusCard) var(--varRadiusCard) 0px 0px;
  height: var(--varSizeY);
  width: var(--varSizeX);
}

.carousel-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--varRadiusCard) var(--varRadiusCard) 0px 0px;
}

.cardlinks {
  grid-area: cardlinks;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0px 10px 10px 10px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--varColWhite3);
  border-radius: 0px 0px var(--varRadiusCard) var(--varRadiusCard);
}

.productButton {
  justify-self: center;
}

.card-title {
  padding: 10px 0px 0px 10px;
  font-size: large;
  grid-area: card-title;
}

.tagClass,
.priceClass {
  padding: 0px 10px;
  margin: 0px;
}

.priceClass {
  grid-area: priceClass;
}

.tagClass {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: var(--varGapTag);
  grid-area: tagClass;
}

.carousel-control-prev,
.carousel-control-next {
  border-radius: var(--varRadiusCard) var(--varRadiusCard) 0px 0px;
  width: 50%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  filter: invert(1);
}

@media (min-width: 768px) {
}

@media (min-width: 1080px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1920px) {
}
