.productsArea {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productsAreaProd{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    margin: 8px 0px;
}

.text-center{
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

