.accordion {
  --bs-accordion-border-radius: 16px;
  --bs-accordion-border-width: 0px;
  --bs-accordion-inner-border-radius: 0px;
  --bs-accordion-border-color: rgb(224, 203, 111);
  --bs-accordion-active-bg: var(--varCol02-B);
  --bs-accordion-btn-focus-box-shadow: rgba(255, 0, 0, 0);
  --bs-accordion-bg: var(--varColWhite3);
}

.bodyFaq {
  padding: 20px;
  background-color: var(--varColWhite3);
}

.accordion-button {
  background-color: var(--varColWhite3);
}
