.Class1 {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 6px 12px;
    border: 2px solid var(--varCol02);
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.Class1:hover {
    cursor: pointer;
    background-color: rgba(196, 178, 145, 0.219);
}

.Class2 {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 2px solid var(--varCol02);
    border-radius: 12px;
    text-decoration: none;
    padding: 4px 8px;
    cursor: auto;
}
.Class2:hover {
    cursor: auto;
}