.Class1 {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding: 6px 12px;
    margin: 6px;
    border: 2px solid var(--varCol03);
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.Class1:hover {
    background-color: var(--varCol02);
    box-shadow: 0px 0px 15px var(--varCol02);
    border: 2px solid var(--varCol02);
    scale: 0.98;
    
}

.Class2 {
    background-color: lightgray;
    color: black;
    padding: 4px 12px;
    margin: 0px;
    border-radius: 16px;
    text-decoration: none;
}