.modal {
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.card-body-product {
  cursor: pointer;
  display: grid;
  grid-template-rows: 0.8fr 1.3fr 0.8fr 0.8fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "card-title"
    "tagClass"
    "card-product-description"
    "priceClass"
    "cardlinks";
  transition: all 0.3s ease;
  background-color: var(--varColWhite3);
  border: none;
}

.cardProduct-modal {
  margin: var(--varGapItem);
  display: flex;
  flex-direction: column;
  border-radius: var(--varRadiusCard);
  transition: all 0.2s ease;
  width: auto;
  height: var(--varHeightModal);
}

.card-body-modal {
  border-radius: 0px 0px var(--varRadiusCard) var(--varRadiusCard);
}

.modal-body-gallery img {
  width: 300px;
}

.card-curso-description {
  grid-area: card-curso-description;
}

.card-product-description {
  grid-area: card-product-description;
  display: flex;
  align-self: center;
  justify-self: center;
}

.cardCurso-modal {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  border-radius: var(--varRadiusCard);
}

.modal-content-curso {
  width: 330px;
}

.modal-content-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content-gallery {
  display: flex;
  flex-direction: column;
}

.img-curso {
  height: 100%;
  object-fit: cover;
}

.carousel-img-modal {
  /* object-fit: contain; */
  height: var(--varHeightModal);
  border-radius: var(--varRadiusCard) var(--varRadiusCard) 0px 0px;
}

.modal-header {
  display: flex;
  align-self: flex-end;
  padding: 0px;
  border: none;
}

.close-button-modal {
  padding: 0px;
  margin: 0px;
  background: none;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.close-button-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0px;
  border-radius: 8px;
  padding: 0px 10px 8px 10px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
}

.close-button-modal:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /* color: rgb(61, 61, 61); */
}

.modal-footer {
  background-color: transparent;
  border: none;
}

@media (min-width: 390px) {
  .modal-content-curso {
    width: 340px;
  }
}
@media (min-width: 414px) {
  .modal-content-curso {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .modal-content {
    width: 100%; /* Hace que el modal ocupe todo el ancho en pantallas muy pequeñas */
    padding: 5px;
  }
  .modal-header .close-button {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    width: 95%; /* Hace que el modal ocupe el 95% del ancho en pantallas pequeñas */
    max-width: 90%; /* Ajusta aún más en pantallas pequeñas */
    padding: 10px;
  }

  .modal-header .close-button {
    font-size: 24px; /* Reduce el tamaño del botón de cerrar en dispositivos móviles */
  }
}

@media (min-width: 768px) {
  .modal-content-curso {
    width: 500px;
  }
  .modal-body-gallery img {
    width: 400px;
  }
}
@media (min-width: 1440px) {
  .modal-content-curso {
    width: 800px;
  }
  .modal-body-gallery img {
    width: 500px;
  }
}