.modal {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px var(--varCol02);
  width: min-content;
}

.modal-header {
  border: none;
  padding: 12px;
  background-color: var(--varColWhite);
}

.modal-body{
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  background-color: var(--varColWhite);
}

.descriptionGeneral{
  padding: 0px 0px 0px 10px;
}

.modal-footer{
  background-color: var(--varColWhite);
  border: none;
}