.spacerNav a {
    padding: 24px;
}

.navbar {
    background-color: #212529;
}

.Corazon {
    position: absolute;
}

@media(max-width: 768px){
    .title{

    }
    .mainLogo{
        display: none;
    }
}