.card {
  scale: 1;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 7px var(--varCol02);
  max-width: 120px;
  transition: all 0.3s ease;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 0px 20px var(--varCol02);
  scale: 1.02;
}

.bodyGalleryArea {
  padding: 20px 16px;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--varColWhite3);
}

.galleryArea {
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: 32px 0px;
    justify-content: center;
}

.GalleryBG {
    background-color: var(--varCol02-B);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
}
