Footer {
    /*
    background-color: rgb(255, 250, 242);
    */
    background-color: rgb(58, 58, 58);
    background-color: rgb(255, 250, 242);
    margin: 0px;
    padding: 16px;
}

.footerSection{
    color: black;
    text-decoration: none;
    list-style: none;
}