:root {
  --varCol01: #ffffff; /* Blanco */
  --varCol02: #ffb7a1; /* Rosa claro */
  --varCol02-B: #ffe5de; /* Rosa claro */
  --varCol03: #d76c4c; /* Rojo */
  --varCol04: #d3af5f; /* Dorado claro */
  --varCol05: #a37718; /* Dorado oscuro */

  --varColWhite: rgb(235, 235, 235);
  --varColWhiteH: rgb(225, 225, 225);
  --varColWhite3: rgb(250, 250, 250);

  --varColBlack: rgb(150, 150, 150);
}

@media (max-width: 390px) {
}
@media (max-width: 768px) {
}
@media (max-width: 1080px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1920px) {
}
