:root {
    --varCol01: #FFFFFF; /* Blanco */
    --varCol02: #FFB7A1; /* Rosa claro */
    --varCol03: #D76C4C; /* Rojo */
    --varCol04: #D3AF5F; /* Dorado claro */
    --varCol05: #A37718; /* Dorado oscuro */
  }
  

  @media (max-width: 390px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 1080px) {
  }  
  @media (max-width: 1440px) {
  }
  @media (max-width: 1920px) {
  }