.linkUnderline {
  text-decoration: none;
  text-underline-offset: 0;
  transition: text-underline-offset 0.5s ease;
}

.linkUnderline:hover {
  text-decoration: underline;
  text-underline-offset: 4px; /* Espacio entre el texto y el subrayado */
}